@font-face {
    font-family: 'Titulo';
    src: url('./fonts/Arimo-Titulo.ttf') format('truetype');
}

@font-face {
    font-family: 'Subtitulos';
    src: url('./fonts/PTSans-Subtitulos.ttf') format('truetype');
}

@font-face {
    font-family: 'Texto';
    src: url('./fonts/Marcellus-Texto.ttf') format('truetype');
}

html {
    font-family: 'Texto';
}

h1 {
    font-family: 'Titulo';
}

h2 {
    font-family: 'Subtitulos';
    color: #F7DF1E;
}